* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div #divForm {
  width: 50%;
  margin: 20px;
}

div h3{
  justify-self: center;
}

div ul{
  align-self: center;
}

div li {
  text-align: start;
  display: flex !important;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
}


button {
  background: #7159c1;
  max-width: 94px;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  /* margin-top: 15px; */
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}
